// variables
$top-gradient: #cccccc;
$bottom-gradient: #edf5f8;
$light-grey: #959595;
$medium-grey: #464646;
$dark-grey: #333333;
$cyan-blue: #00aeef;
$light-orange: #fbaf5c;
$orange: #ff7909;
$transparent: rgba(255,255,255,0);
$form-field: #e1e1e1;
$border: 1px solid $medium-grey;
//$big-border: 10px solid $medium-grey;
$border-img: url('../images/lines_image_border.png');