#ja-header {
  background: url("../images/lines_tile_grey.png") repeat 0 0; }

#ja-container {
  position: relative;
  background: url("../images/lines_tile_light.png") repeat 0 0; }

#ja-content-main, .item-page {
  min-height: 625px; }

#zoom {
  z-index: 1000; }

.zoom {
  text-align: center; }
  .zoom img:hover, .zoom img:active, .zoom img:focus {
    border-color: #ff7909; }

a {
  color: #00aeef;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #ff7909;
    text-decoration: none; }

h3.subhead {
  color: #00aeef;
  font-weight: bold;
  margin: 10px 0 0; }

h4.subhead, span.subhead {
  color: #ff7909;
  font-weight: bold;
  text-transform: uppercase; }

h1.contentheading,
h2.contentheading,
.contentheading,
#ja-content-main h1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #00aeef), color-stop(1, rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(right, #00aeef 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(right, #00aeef 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(right, #00aeef 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(right, #00aeef 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, #00aeef 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 2em;
  padding: 10px 20px 10px 15px;
  color: white;
  font-weight: normal;
  margin: 0 0 20px 0;
  line-height: 100%; }

.shiva {
  background: url("../images/shiva_header.png") no-repeat 0 0;
  padding-left: 26px; }

.arrow_btn, form button[type="submit"], .formResponsive input[type="submit"], .formResponsive button, p.readmore a {
  background: url("../images/arrow-bg-blue-orange.png") no-repeat right top;
  color: white;
  display: block;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 30px;
  margin-top: 10px;
  padding: 0 1.5em 0 1em;
  border: 0; }
  .arrow_btn:hover, form button[type="submit"]:hover, .formResponsive input[type="submit"]:hover, .formResponsive button:hover, .arrow_btn:focus, form button[type="submit"]:focus, .formResponsive input[type="submit"]:focus, .formResponsive button:focus, .arrow_btn:active, form button[type="submit"]:active, .formResponsive input[type="submit"]:active, .formResponsive button:active, p.readmore a:hover, p.readmore a:focus, p.readmore a:active {
    background-position: right bottom !important;
    color: white; }
  .arrow_btn span, form button[type="submit"] span, .formResponsive input[type="submit"] span, .formResponsive button span, p.readmore a span {
    display: block;
    float: left; }
    .arrow_btn span.paypal, form button[type="submit"] span.paypal, .formResponsive input[type="submit"] span.paypal, .formResponsive button span.paypal, p.readmore a span.paypal {
      font-size: 12px !important;
      background-position: right center;
      padding: 0 52px 0 0;
      background-image: url("../images/paypal_logo.png");
      background-repeat: no-repeat; }
  .arrow_btn.clear-right, form button.clear-right[type="submit"], .formResponsive input.clear-right[type="submit"], .formResponsive button.clear-right, p.readmore a.clear-right {
    clear: right; }
  .arrow_btn.sm, form button.sm[type="submit"], .formResponsive input.sm[type="submit"], .formResponsive button.sm, p.readmore a.sm {
    background-image: url("../images/arrow_btn_sm.png") !important;
    line-height: 20px !important;
    margin-top: 3px; }

.badge_btn {
  background: url("../images/badge_btn_blue.png") no-repeat right top;
  color: white;
  display: block;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
  font-size: .8em;
  height: 35px;
  line-height: 1em;
  position: absolute;
  padding: 10px 9px 0 14px; }
  .badge_btn:hover, .badge_btn:focus, .badge_btn:active {
    background-position: right bottom !important;
    color: white; }

.add_cart {
  margin-bottom: 1em; }

.icon-bg {
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 40px !important;
  font-weight: bold;
  text-transform: uppercase;
  color: white; }
  .icon-bg.heart {
    background-image: url("../images/icons/icon-heart.png"); }
  .icon-bg.shop {
    background-image: url("../images/icons/icon-shop.png"); }
  .icon-bg.tweet {
    background-image: url("../images/icons/icon-tweet.png"); }
  .icon-bg.link {
    background-image: url("../images/icons/icon-link.png"); }
  .icon-bg.quote {
    background-image: url("../images/icons/icon-quote.png"); }
  .icon-bg.question {
    background-image: url("../images/icons/icon-question.png"); }
  .icon-bg.mobile {
    background-image: url("../images/icons/icon-mobile.png"); }
  .icon-bg.podcasts {
    background-image: url("../images/icons/icon-podcasts.png"); }
  .icon-bg.jquerytweet {
    background-image: url("../images/icons/icon-tweet-orange.png");
    background-position: 10px 10px;
    padding: 10px 10px 0 45px !important;
    text-transform: none;
    height: 30px; }
    .icon-bg.jquerytweet a {
      line-height: 100%; }
      .icon-bg.jquerytweet a span {
        font-size: .75em;
        text-transform: uppercase; }

ul.level0 > li a.mega {
  color: white; }
  ul.level0 > li a.mega:hover, ul.level0 > li a.mega:active, ul.level0 > li a.mega:focus, ul.level0 > li a.mega.active {
    color: #00aeef !important; }
ul.level0 > li.active {
  background: #F0F0F0 !important; }
  ul.level0 > li.active a.active {
    color: #00aeef !important; }
ul.level1 li.mega a.mega {
  color: white !important; }
  ul.level1 li.mega a.mega:hover, ul.level1 li.mega a.mega:active, ul.level1 li.mega a.mega:focus {
    color: #ff7909 !important; }

/*ul.pagenav li a {    
  @include button('../images/arrow_btn_sm.png');
  font-size: .85em;
  line-height: 20px;
  margin-top: 10px;
  padding: 0 1.5em 0 1em;
  border: 0;
  color: white;
  li.pagenav-prev a {
    background-image:url('../images/arrow_btn_sm_rev.png') !important;
    &:hover, &:focus, &:active {
      background-position: left bottom !important;
    }
  }
  li.pagenav-next a {
    &:hover, &:focus, &:active {
      background-position: right bottom !important;
    }
  }
}*/
.moduletable-inner,
.contentpaneopen,
.item-page,
.ja-content-main,
.ja-content-main .archive,
.article_img,
.article_img_full,
.img-intro-left img,
.img-fulltext-left img,
.lineup_pics,
.contact-image,
.img_wide {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.mod-contrast.contrast-violet .moduletable-inner {
  background: #464646;
  color: white;
  border-top: #e6e6e6; }
.mod-contrast h3, .mod-contrast h2 {
  color: #00bff3 !important; }
.mod-contrast a {
  color: #ff7909 !important; }
  .mod-contrast a:hover, .mod-contrast a:active, .mod-contrast a:focus {
    color: white !important; }

.article_img {
  width: 300px;
  float: left;
  margin: 0 15px 10px 0; }
  .article_img.right {
    float: right !important; }
  .article_img.nofloat {
    float: none !important; }

#archive-article .article_img {
  width: auto !important; }

.img-intro-left, .img-fulltext-left {
  margin: 0 1em 1em 0; }

.img-fulltext-left {
  float: left;
  width: 40%; }
  .img-fulltext-left img {
    width: 90%;
    display: block; }

.img-intro-left img {
  max-width: 150px;
  max-height: 150px; }

.article_img,
.article_img_full,
.img-intro-left img,
.img-fulltext-left img,
ul.lineup_pics,
.contact-image,
.img_wide {
  border-width: 10px;
  border-style: solid;
  -moz-border-image: url("../images/lines_image_border.png") 10 10 round;
  -webkit-border-image: url("../images/lines_image_border.png") 10 10 round;
  border-image: url("../images/lines_image_border.png") 10 10 round;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#system-message ul {
  background-color: #fbaf5c !important;
  color: white !important;
  background-image: none !important;
  line-height: 100%;
  padding: 10px !important;
  border: 0 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #system-message ul li {
    line-height: 1.1 !important; }
#system-message dd {
  text-indent: 0 !important; }

.cmp_buttons_container {
  clear: both; }

.cmp_comments_container {
  text-align: left !important; }

.postReplies {
  background: #ebebeb; }

.strike {
  text-decoration: line-through; }

.sale {
  color: #ff7909; }

blockquote {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 1rem 3rem;
  padding: 1rem;
  background: #e1e1e1;
  font-family: inherit; }

address {
  font-style: none !important;
  font-weight: bold; }

#error {
  font-size: 2.5em;
  text-align: center;
  line-height: 120%;
  padding: 0 0 450px 0; }
  #error p {
    margin: 0; }

#ie-overlay {
  display: block;
  background: url("../images/black_trans_px.png") repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  #ie-overlay .overlay_message {
    background: white;
    font-size: 3em;
    line-height: 120%;
    width: 40%;
    padding: 2em;
    margin: 3em auto; }
    #ie-overlay .overlay_message ul.browsers {
      margin: 20px auto 0;
      width: 380px; }
      #ie-overlay .overlay_message ul.browsers li {
        background: none;
        padding-left: 0;
        margin-right: 20px;
        margin-bottom: 0;
        line-height: 100%;
        float: left; }
        #ie-overlay .overlay_message ul.browsers li.last {
          margin-right: 0 !important; }

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: inherit;
  line-height: inherit;
  width: 70%;
  background: #ebebeb;
  color: #333333;
  font-size: 1.2em;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #6dcff6; }
  form input[type="text"]:hover, form input[type="text"]:active, form input[type="text"]:focus,
  form input[type="email"]:hover,
  form input[type="email"]:active,
  form input[type="email"]:focus,
  form input[type="password"]:hover,
  form input[type="password"]:active,
  form input[type="password"]:focus,
  form textarea:hover,
  form textarea:active,
  form textarea:focus {
    background: white;
    border-color: #ff7909; }

.login form {
  margin-top: 1em; }
.login label {
  width: 15%; }
.login button {
  margin-left: 16%; }

.login-links {
  padding-left: 15%; }
  .login-links ul li {
    background: none; }

.star, .red {
  color: #ff7909; }

.form-validate dd, .form-validate dt {
  margin-bottom: 1rem;
  min-height: 0; }
.form-validate dl dd input.required,
.form-validate dl dd textarea.required {
  width: 60% !important; }
.form-validate label {
  font-size: 1em;
  font-weight: normal; }

.recaptcha_input_area input[type="text"] {
  border: 1px solid #00aeef !important; }
  .recaptcha_input_area input[type="text"]:hover {
    border-color: #ff7909 !important; }

.contact-form input.invalid {
  border: 1px solid #ff0000 !important; }

.contact-miscinfo, .contact-image {
  float: left; }

.contact-miscinfo {
  width: 80%; }

.contact-image {
  margin: 15px 15px 0 0;
  width: 100px;
  border-width: 6px; }

#member-registration dt:first-child {
  margin: 0; }

.formResponsive .formDescription {
  margin-top: 0 !important;
  font-size: 90%; }
.formResponsive h2 {
  display: none; }
.formResponsive .formControls, .formResponsive .formControlLabel {
  margin-bottom: 0.5em; }
.formResponsive .formControlLabel {
  padding-right: 10px;
  line-height: 100%; }
  .formResponsive .formControlLabel .formRequired {
    color: #ff7909; }
.formResponsive .formError {
  color: red;
  padding-left: 0;
  font-size: inherit; }
.formResponsive .rsform-block {
  margin-bottom: 1.25rem !important; }
  .formResponsive .rsform-block.rsform-block-referral, .formResponsive .rsform-block.rsform-block-accommodations {
    width: 45%;
    float: left; }
    .formResponsive .rsform-block.rsform-block-referral select, .formResponsive .rsform-block.rsform-block-accommodations select {
      width: 100% !important; }
  .formResponsive .rsform-block.rsform-block-referral-friend, .formResponsive .rsform-block.rsform-block-accommodation-info {
    width: 40%;
    float: left; }
    .formResponsive .rsform-block.rsform-block-referral-friend .formControlLabel, .formResponsive .rsform-block.rsform-block-accommodation-info .formControlLabel {
      display: none; }
    .formResponsive .rsform-block.rsform-block-referral-friend .formBody, .formResponsive .rsform-block.rsform-block-accommodation-info .formBody {
      height: 30px; }
    .formResponsive .rsform-block.rsform-block-referral-friend .formControls, .formResponsive .rsform-block.rsform-block-accommodation-info .formControls {
      margin-left: 30px; }
    .formResponsive .rsform-block.rsform-block-referral-friend input, .formResponsive .rsform-block.rsform-block-accommodation-info input {
      width: 100% !important; }
  .formResponsive .rsform-block.rsform-block-dues-paid {
    display: none; }
  .formResponsive .rsform-block.rsform-block-captcha, .formResponsive .rsform-block.rsform-block-arrival-date {
    clear: both; }
.formResponsive .rsform-button {
  background: url("../images/arrow-bg-blue-orange.png") no-repeat right top;
  color: white;
  display: block;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
  font-size: .85em;
  line-height: 30px;
  margin-top: 10px;
  padding: 0 1.5em 0 1em;
  border: 0; }
.formResponsive .rsform-input-box {
  margin-bottom: 0; }
.formResponsive select {
  width: 40% !important;
  font-size: 14px; }
.formResponsive input[type="text"] {
  margin-bottom: 0 !important; }
.formResponsive input[type="submit"], .formResponsive button {
  background-color: transparent !important; }

@media only screen and (max-width: 720px) {
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form textarea {
    width: 100%; }

  .login label {
    width: 100%;
    text-align: left; }
  .login button {
    margin-left: 0; }
  .login .login-links {
    padding-left: 0; }

  .rsform-block-referral {
    width: 100% !important; } }
#ja-social {
  display: none; }

.frontpage #ja-social {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 40px; }
  .frontpage #ja-social .social a {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 10px; }
    .frontpage #ja-social .social a.fb {
      background: url("../images/icons/social_icons.png"); }
    .frontpage #ja-social .social a.twitter {
      background: url("../images/icons/social_icons.png") no-repeat -32px 0; }
    .frontpage #ja-social .social a.rss {
      background: url("../images/icons/social_icons.png") no-repeat -64px 0; }
    .frontpage #ja-social .social a:hover, .frontpage #ja-social .social a:focus, .frontpage #ja-social .social a:active {
      background-position-y: bottom !important; }
    .frontpage #ja-social .social a:last-child {
      margin-right: 0; }

.mod-contrast a.arrow_btn, input[type="submit"] {
  background-image: url("../images/arrow-bg-blue-orange.png");
  color: white !important;
  margin-top: 10px;
  border: 0; }

#Mod88 .moduletable-inner {
  padding: 0;
  min-height: 270px; }
  #Mod88 .moduletable-inner iframe {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

#Mod89 .moduletable-inner, #Mod99 .moduletable-inner {
  padding: 0;
  border-top: 0;
  min-height: 260px; }
  #Mod89 .moduletable-inner .twtr-widget, #Mod99 .moduletable-inner .twtr-widget {
    padding-bottom: 10px; }
  #Mod89 .moduletable-inner .twtr-ft, #Mod99 .moduletable-inner .twtr-ft {
    display: none; }
  #Mod89 .moduletable-inner .tweet,
  #Mod89 .moduletable-inner .query, #Mod99 .moduletable-inner .tweet,
  #Mod99 .moduletable-inner .query {
    color: #464646; }
  #Mod89 .moduletable-inner .tweet_list, #Mod99 .moduletable-inner .tweet_list {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-color: white; }
    #Mod89 .moduletable-inner .tweet_list li, #Mod99 .moduletable-inner .tweet_list li {
      overflow-y: auto;
      overflow-x: hidden;
      padding: .75em;
      margin-bottom: 0;
      list-style-type: none;
      background: none;
      line-height: 100%; }
    #Mod89 .moduletable-inner .tweet_list .tweet_even, #Mod99 .moduletable-inner .tweet_list .tweet_even {
      background-color: #ebebeb; }
    #Mod89 .moduletable-inner .tweet_list .tweet_avatar, #Mod99 .moduletable-inner .tweet_list .tweet_avatar {
      padding-right: .5em;
      float: left; }
      #Mod89 .moduletable-inner .tweet_list .tweet_avatar img, #Mod99 .moduletable-inner .tweet_list .tweet_avatar img {
        vertical-align: middle; }
    #Mod89 .moduletable-inner .tweet_list .tweet_time, #Mod99 .moduletable-inner .tweet_list .tweet_time {
      font-size: .75em; }
  #Mod89 .moduletable-inner p.loading, #Mod99 .moduletable-inner p.loading {
    padding: .5em; }

#Mod90 a {
  font-size: 0.8em; }

#Mod92 .moduletable-inner {
  background: #464646;
  color: #ffffff; }
  #Mod92 .moduletable-inner a {
    color: #ff7909; }
  #Mod92 .moduletable-inner h3 {
    color: #00aeef; }
  #Mod92 .moduletable-inner table.mailinglist {
    width: 100%;
    border-collapse: collapse; }
    #Mod92 .moduletable-inner table.mailinglist td {
      padding: 10px; }

#Mod93 label {
  display: block;
  margin-bottom: 3px; }
#Mod93 input[type="text"], #Mod93 input[type="email"] {
  background: #e1e1e1;
  color: #333333;
  font-size: 1.2em;
  padding: 5px;
  margin-bottom: 10px;
  border: 0;
  width: 90%; }
  #Mod93 input[type="text"]:hover, #Mod93 input[type="text"]:focus, #Mod93 input[type="email"]:hover, #Mod93 input[type="email"]:focus {
    background: white; }

#Mod102 .moduletable-inner {
  padding: 15px; }
#Mod102 .syndicate-module {
  background: url("../images/icons/icon-rss-sm.png") no-repeat 0 0;
  padding: 7px 0 8px 36px;
  display: block; }
#Mod102 a {
  color: white !important; }
  #Mod102 a:hover, #Mod102 a:active, #Mod102 a:focus {
    color: #00aeef !important; }

#Mod104 .moduletable-inner p, #Mod104 .moduletable-inner div {
  margin-top: 10px; }
#Mod104 .moduletable-inner .itunes {
  background: url("../images/logo_itunes.png") no-repeat right top;
  color: white;
  display: block;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
  width: 100px;
  height: 29px; }
  #Mod104 .moduletable-inner .itunes:hover, #Mod104 .moduletable-inner .itunes:focus, #Mod104 .moduletable-inner .itunes:active {
    background-position: right bottom !important;
    color: white; }
#Mod104 .moduletable-inner .icon-bg.podcasts {
  min-height: 30px;
  padding-top: 5px; }

#Mod106 ul li, #Mod107 ul li {
  background: none;
  padding-left: 0;
  margin-bottom: 3px !important; }
#Mod106 a, #Mod107 a {
  color: white !important;
  text-transform: none; }
  #Mod106 a:hover, #Mod106 a:active, #Mod107 a:hover, #Mod107 a:active {
    color: #ff7909 !important; }

.frontpage h1.contentheading,
.frontpage h2.contentheading,
.frontpage .contentheading,
.frontpage #ja-content-main h1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #959595), color-stop(1, rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(right, #959595 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(right, #959595 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(right, #959595 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(right, #959595 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, #959595 0%, rgba(255, 255, 255, 0) 100%); }
.frontpage .contentpaneopen {
  background-color: #464646 !important;
  color: white; }
.frontpage .img-intro-left img, .frontpage .article_img_full {
  border-color: white; }
.frontpage .moduletable-inner {
  background-color: #7d7d7d !important; }
  .frontpage .moduletable-inner h3 {
    color: #2fcef9 !important; }
.frontpage #Mod88 .moduletable-inner, .frontpage #Mod89 .moduletable-inner, .frontpage #Mod99 .moduletable-inner {
  background-color: white !important; }

.info {
  display: none;
  padding-bottom: 1em; }

.mix_row, .resdj, .merch_row {
  border-bottom: 1px solid #464646;
  padding-bottom: 10px; }

.resdj {
  padding-top: 20px;
  position: relative; }
  .resdj h3 {
    margin: 0; }
  .resdj ul.dj-desc {
    list-style-type: none; }
    .resdj ul.dj-desc li {
      margin: 15px 0;
      background: none;
      padding-left: 0;
      line-height: 1.5em; }
  .resdj ul.dj-links {
    margin: 1.5em 0 0; }
    .resdj ul.dj-links li.icon-bg-sm {
      background-repeat: no-repeat;
      background-position: 0 bottom;
      margin-right: 15px;
      padding-left: 25px !important;
      float: left;
      height: 20px;
      line-height: 100%; }
      .resdj ul.dj-links li.icon-bg-sm.link {
        background-image: url("../images/icons/icon-link-sm.png"); }
      .resdj ul.dj-links li.icon-bg-sm.fb {
        background-image: url("../images/icons/icon-fb-sm.png"); }
      .resdj ul.dj-links li.icon-bg-sm.twitter {
        background-image: url("../images/icons/icon-tweet-sm.png"); }
      .resdj ul.dj-links li.icon-bg-sm.link {
        background-image: url("../images/icons/icon-link-sm.png"); }
      .resdj ul.dj-links li.icon-bg-sm.soundcloud {
        background-image: url("../images/icons/icon-soundcloud-sm.png"); }
      .resdj ul.dj-links li.icon-bg-sm.youtube {
        background-image: url("../images/icons/icon-youtube-sm.png"); }
  .resdj img {
    width: 200px; }
  .resdj .badge_btn {
    top: 25px;
    left: 155px; }
  .resdj .arrow_btn, .resdj form button[type="submit"], form .resdj button[type="submit"], .resdj .formResponsive input[type="submit"], .formResponsive .resdj input[type="submit"], .resdj .formResponsive button, .formResponsive .resdj button {
    margin-top: 0; }

.first_row {
  border-top: 1px solid #464646;
  padding-top: 15px; }

.last_row {
  border-bottom: none !important; }

.otmixes {
  margin-bottom: 20px; }
  .otmixes .article_img {
    width: 200px; }
  .otmixes ul li {
    width: 220px;
    background: none;
    margin: 0 20px 20px 0;
    padding-left: 0;
    float: left; }

.mix_row .article_img {
  width: 200px; }

.btn_row {
  padding-top: 1em; }

.guestdj, .otcore {
  float: left;
  margin: 0 30px 30px 0;
  width: 230px;
  position: relative; }
  .guestdj h3 span, .otcore h3 span {
    font-size: 0.6em !important; }
  .guestdj h4, .otcore h4 {
    margin: 5px 0 0 0; }
  .guestdj p, .otcore p {
    margin: 0; }
  .guestdj .article_img, .otcore .article_img {
    width: 200px;
    margin: 0 0 10px 0;
    float: none; }
  .guestdj .badge_btn, .otcore .badge_btn {
    top: 5px;
    right: 25px; }

.otcore h3 {
  margin: 0; }

.merch_row {
  padding: 1em 0; }
  .merch_row .merch_item {
    float: left;
    width: 45%;
    min-width: 250px;
    margin-right: 5%;
    position: relative; }
    .merch_row .merch_item .badge_btn {
      top: 5px;
      left: 20px;
      padding: 10px 6px 0 9px;
      text-align: center; }
      .merch_row .merch_item .badge_btn:hover, .merch_row .merch_item .badge_btn:active, .merch_row .merch_item .badge_btn:focus {
        background-position: right top !important;
        cursor: pointer; }
  .merch_row .item_info {
    width: 65%;
    min-width: 250px;
    float: left; }
    .merch_row .item_info h3 {
      margin: 10px 0 10px 0;
      color: #00aeef; }
    .merch_row .item_info ul.item_thumbs {
      margin-bottom: 10px; }
      .merch_row .item_info ul.item_thumbs li {
        background: none;
        float: left;
        margin: 0 15px 0 0;
        padding-left: 0; }
        .merch_row .item_info ul.item_thumbs li img {
          width: 50px;
          max-width: 50px;
          border: 2px solid #464646; }
          .merch_row .item_info ul.item_thumbs li img:hover, .merch_row .item_info ul.item_thumbs li img:active, .merch_row .item_info ul.item_thumbs li img:focus {
            border-color: #00aeef; }
    .merch_row .item_info form table td {
      padding: 3px 0 0 0; }

.lineup_row {
  border-bottom: 1px solid #464646;
  padding: 15px 0; }
  .lineup_row.first {
    border-top: 1px solid #464646; }
  .lineup_row dl.lineup {
    float: left;
    margin: 20px 20px 0 0; }
    .lineup_row dl.lineup dt, .lineup_row dl.lineup dd {
      float: left;
      padding: 0 0 10px; }
    .lineup_row dl.lineup dt {
      font-weight: bold;
      width: 100px;
      clear: left; }
  .lineup_row ul.lineup_pics {
    width: 32%;
    float: right;
    margin: 20px 0 0;
    list-style: none;
    background-color: #464646;
    background-image: none; }
    .lineup_row ul.lineup_pics li {
      padding: 0;
      margin: 0;
      float: left;
      width: 50%;
      line-height: 50%; }
      .lineup_row ul.lineup_pics li img {
        width: 100%; }

#podframe {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 5000px;
  width: 110%;
  margin-top: 10px; }
  #podframe.archives {
    min-height: 8800px !important; }

.video_container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .video_container iframe, .video_container object, .video_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

table.rvs {
  width: 100%;
  border: 1px solid #333333; }
  table.rvs thead {
    background-color: #959595;
    color: white; }
  table.rvs tr {
    border-top: 1px solid #333333; }

.gigcal_list_table, .gigcal_alist_table {
  width: 100%;
  margin: 20px 0; }
  .gigcal_list_table thead th, .gigcal_list_table tfoot th, .gigcal_alist_table thead th, .gigcal_alist_table tfoot th {
    background: #464646;
    color: #ffffff;
    padding: 5px 0px;
    font-style: bold; }
    .gigcal_list_table thead th:first-child, .gigcal_list_table tfoot th:first-child, .gigcal_alist_table thead th:first-child, .gigcal_alist_table tfoot th:first-child {
      padding-left: 10px; }
  .gigcal_list_table td, .gigcal_alist_table td {
    padding: 10px 0; }
    .gigcal_list_table td:first-child, .gigcal_alist_table td:first-child {
      padding-left: 10px; }
    .gigcal_list_table td a.fb, .gigcal_alist_table td a.fb {
      background: url("../images/icons/icon-fb-sm.png") no-repeat left bottom;
      display: block;
      width: 20px;
      height: 20px; }

.gigcal_menu {
  display: block;
  margin-bottom: 100px; }

.tour_notes, .tour_notes th {
  text-align: left; }
