<h3 class="subhead">Welcome</h3>
<p>Welcome to Opulent Temple 2014. We're glad you're here on this journey of work and play with us. You are a part of a complex camp doing a whole lot of awesome, there's more to know and do and to know, but in our experience - the pay off is bigger.</p>

<h3 class="subhead">Your Arrival Day</h3>
<p>OT will be located somewhere on the 10:00 side this year.  Best to approach from the back side of the 10:00. When you arrive, find the day lead or someone else that can help you get placed in the right zone for tent camping or where your RV goes based on the camp map <link to camp map page>. They will also give you a wrist band that ID's you as a camp member. They'll let you know what comes next after getting settled depending on your arrival time.</p>

<h3 class="subhead">The Vibe</h3>
<p>This mostly goes without saying, but to state the obvious, the vibe in the camp is paramount to our experience. That vibe is a premium on friendliness, conscientiousness, hard work, conscious fun, composure, cooperation, self awareness, mature communication, and participation.  If there's a core value in the camp, it's mindfulness and doing what you say you're going to do.  This is what makes up Opulent.</p>

<h3 class="subhead">Daily Campwide Meetings</h3>
<p>We want to be more than a bunch of people on the same plot of land at Burning Man.  We strive for a community vibe operating like a tribe with common casue.  To that end, we meet every day at noon in the shade area to get organized / oriented / say hello / make important camp announcements.  It's the best way to feel connected to those in the camp, trade stories, get questions answered, have your needs met, lick your party wounds together, etc.  All are requested to attend every day.  Working members are 'required' the first few days of your arrival (the days on you're committed to helping), as is anyone doing a hosting shift that night.  (ie, if you have a hosting shift Saturday night, you need to be at the noon meeting that day).</p>

<h3 class="subhead">Shift Volunteers, Hosting or Kitchen Shift</h3>
<p>All Working members MUST sign up for a hosting shift or a kitchen shift.  <a href="#">Sign up here</a></p>

<h3 class="subhead">Camp Meal Plan</h3>
<p>We are pleased to be working with the Dubgypsy Kitchen this year who is offering a meal plan for a hearty and healthy brunch and dinner every day. Vegi options available.  Info on the menu and payment options (you pay Dubgypsy Kitchen directly) <a href="#">here</a>.</p>

<h3 class="subhead">Camp Projects</h3>
There are a lot of projects going on to make the camp happen, to get acquainted with what those are, and who's doing what, you can look <a href="#">here</a>.

<h3 class="subhead">Showers</h3>
<p>We will build and bring showers you can use at OT.  We'll have communal water for showers, but you should still bring some of your own for that because nothing is guaranteed on the playa. You definitely need to bring your own Sun Shower. Don't forget !  Showers much be short and sweet to prevent the grey water from getting too crazy. Don't forget to bring some flip flops too. Please don't leave your personal items in the shower, thank you.</p>

<a name="power"></a>
<h3 class="subhead">Plugging in to Camp Power</h3>
<p>If you want to be able to plug your RV into the camp power grid so you don't have to use your own gennie, you need to bring your own 100' extension cord, adapter (consult your RV renter / owner for guidance) and you need to pay an additional $75.</p>
 
<p>If you're in a tent and want to plug into the camp power grid, and you're not pulling lots of power (lights yes, AC no), bring your own ext cords and pitch in $20. All ext cords must be labeled at the plug in points so we know who it is. (Bring duct tape and a Sharpie). Unlabeled cords are unplugged.</p>
 
<p>You pay this amount for power access with your dues.</p>

<h3 class="subhead">Trash</h3>
<p>The camp will have recycling you can use.  You need to plan on packing out your own trash (or burning it).  That said, we do have a dumpster for the camp but it is intended for the MOOP we clean up on the dance floor and other general camp generated waste (ie, not personal waste).  If you are still there Sunday after Strike and IF there is room in the dumpster after the camp's needs are met - then, and only then - can you add yuor personal trash for $5 a bag.</p>

<h3 class="subhead">Safety in the Camp and Law Enforcement</h3>
<p>We're in a high traffic area (one of the highest). We request everyone is diligent and aware of what's going on in the camp, and in the dance area throughout the week. The daily meetings and camp wrist band are in part for help knowing who's good to be somewhere and who may not be. When you see strangers ask if you can help them find someone / find out why they are there. Definitely bring a bike lock and lock your bike day and night if you're not keeping an eye on it.</p>
 
<p>Due to location and crowd size, our parties are especially susceptible to being under the eyes of law enforcement. They will be watching the dance floor and surrounding area. DO NOT do drugs of any kind where anyone can see you. DO NOT give or sell drugs to anyone you meet or befriend, even other camp members. Undercovers have been known to befriend Burners, party with them for days, ask to get hooked up, then arrest them. Whole camps have been searched because of one person caught w drugs. DO NOT bring heat on the camp. It is the ultimate party foul. Think radical self reliance in all it's forms.</p>
 
<p>We also want to encourage you to not walk around paranoid, thinking every friendly stranger is a cop. Walk the fine line between vigilance and relaxation, and be smart.</p>

<h4 class="subhead">Register to secure your camp membership.</h4>
<p>You are not officially a camp member until you fill out the Member Registration form and pay member dues.</p>
<div class="clearfix"><a class="arrow_btn clear-right" href="/members">Become a Member</a></div>