<h3 class="subhead">Camp Dues</h3>
<p>All dues are 'due' by August 15th. We do NOT accept dues on the playa.</p>
<h4 class="subhead">Options for your level of participation and associated dues:</h4>
<ol>
  <li><strong>Working Member</strong>: $100<br>
    I will be available to help for 2 days from arrival day (regardless of arrival day), sign up and show up for (1) 4.5-5 hour Hosting Shift and Strike<span class="star">*</span> on Sunday from either 10am-5pm or 12-7pm. Includes a separate $500 collateral deposit check which will be torn up if you indeed honor your Strike<span class="star">*</span> commitment. However, if you don't show up at your agreed upon Strike shift, we will keep the deposit in full. If you don't want to help our camp with Strike<span class="star">*</span>, you'll want to sign up as a Supporting Member (see below).<br>
    <span class="star">*</span> <strong>International Members:</strong> Your Strike deposit can be paid via PayPal for $100USD. We guarantee a full refund, in cash and on-playa, immediately after your Strike commitments are met. We promise!
  </li>
  <li><strong>Supporting Member 1</strong>: $275 (Early Bird Tier)<br>
    I am an Opulent supporter with no setup or Strike responsibilities, but still a cool and conscientious camp member and will be thoughtful, nice and responsible to those around me. <em>(this limited lower tier for Supporting Member are on a first paid, first accepted basis)</em></li>
  <li><strong>Supporting Member 2</strong>: $350 (Late Comer Tier)<br>
    I am an Opulent supporter with no setup or Strike responsibilities, but still a cool and conscientious camp member and will be thoughtful, nice and responsible to those around me. <em>(this limited lower tier for Supporting Member are on a first paid, first accepted basis)</em></li>
</ol>

<h3 class="subhead">Power Fees:</h3>
<ul>
  <li>$100 per RV - plug into the camp power grid your own generator isn't used. (RV's only)</li>
  <li>$300 Tour Buses</li>
  <li>$50 for tents using an AC unit or other heavy power draw.</li>
  <li>$20 for tents using minimal power for lights, re-charging phones, cameras, etc.</li>
</ul>
<p>For more information on power see <a href="/camp-members/camp-overview#power">Plugging Into Camp Power</a> on Camp Overview page.</p>

<h3 class="subhead">Payment Methods:</h3>
<h4 class="subhead">PayPal</h4>
<p>You may PayPal dues to: <a href="mailto:donations@opulenttemple.org">donations-at-opulenttemple-dot-org</a> or click the following button.</p>
<p>Please include a clear message about what and for whom the dues are intended. <em>(eg: John Smith, Supporting Member Dues &amp; RV power fee, $375)</em></p>

<div class="clearfix">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="M73GMWGHKPKX4">
  <button class="add_cart arrow_btn" name="submit"><span class="paypal">Pay Dues with</span></button>
  </form>
</div>


<blockquote>
  <p>A quick note on PayPal - Please select the option for sending to "Friends and Family" <strong>NOT</strong> for goods &amp; services so that we will not incur a fee for the transaction. If you are paying with your PayPal balance or from a bank account attached to your PayPal, there will be no fees incurred on your end either, however you will incur a fee if you use a credit card.</p></blockquote>
<h4 class="subhead">Check</h4>
<p>You may also submit your camp dues via check or money order to:</p>
<address>
  Sacred Dance Foundation<br>
  306 Arguello Blvd #202<br>
  San Francisco, CA 94118
</address>
</p>
<p>Please include a clear message in the comments section of the check about what and for whom the dues are intended.</p>

<p>Again, if you are a Working Member, we require a mandatory $500 Strike deposit check. We will not deposit this check unless you do not honor your hosting or Strike shift. If you are submitting your dues via PayPal, please send your Strike deposit check by mail to the above address. If you are submitting your dues via check, please send a separate check for your Strike deposit — do not include the deposit with your dues on the same check.</p>