<p>The below is basically explicit common sense, but we've added to it over the years as a better safe than sorry read. Some of it will be news to you, a lot of it won't.</p>
 
<h3 class="subhead">Safety</h3>
<ul>
  <li>Make the safety of yourself and the people around you a priority at all times.</li>
  <li>Wear protective equipment, Gloves, Eye protection and be careful. Watchout for one another out there.</li>
  <li>Bring rebar to secure to your camp. After driving Rebar, put a water bottle/tennis ball (have before starting) or other object over the exposed rebar to protect the rest of us. Do this immediately after your rebar is in. DO NOT use a 6 foot piece of rebar and bury it with only 3 inches sticking out of the ground. 24" rebar is sufficient for most personal tents and 36" rebar for carports. In addition, DO NOT use rebar to mark a driving path or walk path and never put rebar in the middle of a walkway. Rebar has a well deserved reputation for catastrophic puncturing of tires and people. Remember, we need to find every stick of REBAR we put in the ground at the end of the week!</li>
  <li>Keep your personal camp in order, strapped down and protected from wind.</li>
  <li>No personal generators (except a quiet honda eu1000i/eu2000i generator which can be used for temporary power). There will be power drops throughout the camp. Get involved to make sure your close to the power you might need. Turn off your AC at night. We need the power for the System and our show.</li>
</ul>

<h3 class="subhead">Respect</h3>
<ul>
  <li>Respect yourself and your campmates. NO DRAMA. Don't overdo it, drink water constantly!! (if your a grouch or don't feel awesome, you need water!)</li>
  <li>Show up for your scheduled duties and work as a team. Many hands make light work, work together.</li>
  <li>Respect the parking plan. Please place a sign on your vehicles dashboard with your NAME and LOCATION of your tent/camp. Nobody likes to move vehicles after you park, but many times it is a necessity. Please be aware that you may have to adjust the position of your CAR or RV or Hot Tub on wheels for the good of the camp.</li>
  <li>Respect our neighbors camps, introduce yourself, be a humble ambassador.</li>
  <li>Keep a watchful eye on our camp for trespassers and thieves especially burn night. Ask questions to people who are in our camp that you don't recognize.</li>
  <li>Keep your cool in tight situations; a calm composure (or something close to) makes for an ideal ending.
  Use a tool, bring it back to the person you borrowed it from. There will be a designated tool wrangler this year. Don't use tools your not comfortable with or qualified to use.</li>
</ul>

<h3 class="subhead">Act, Participate</h3>
<ul>
  <li>If you see something that is dangerous or needs to be dealt with, ACT, participate and accomplish. Round up campmates to help with the task. (Don't let the shower holding tank overflow, Don't let fuel leak onto the playa, Act if you smell propane). Don't assume someone else will do it - you are someone else.</li>
  <li>Do Not abandon your back stage door station unless your relieved and have another OT campmate take over if you need to see the porta. This area is our safe zone. Don't be afraid to ask someone to leave.</li>
  <li>Do what you said you were going to do. Don't ignore opportunities to help out. We have a great crew, lets keep it up.</li>
</ul>

<h3 class="subhead">RVs and Cars</h3>
<ul>
  <li>RV people take special care to keep your tanks from leaking onto the playa. Get on the RV services list and be hassle free.</li>
  <li>Cars and Trucks will be parked outside our camp in an adjacent area (if possible!) or used as a border to our camp for enhanced security.</li>
</ul>

<h3 class="subhead">Etiquette</h3>
<ul>
  <li>Never use the camp trash (kitchen, etc.) for your personal garbage. Recycle and pack out what you brought. Leave No Trace is an everyday reality.</li>
  <li>Leftover Food scraps that will not be eaten should be burned in a burn barrel to stop the stink. Specifically Melon rinds that reek a day later</li>
</ul>
