<h4 class="subhead">Opulent Temple is welcoming new members for our 2014 camp.</h4>
<div><img src="templates/ja_elastica/images/OT2012-strike.jpg" class="article_img_full" style="margin-bottom:1em"></div>
<p>If you want to make a contribution to the event in a special way, helping us raise, rock and take down the OT is one great way to do it. We approach the entire process as an exercise in fun and community and we hope you will as well. We've found that taking part in large scale joy creation is quite rewarding.</p>

<p>No particular skills are needed, but we're of course looking for any help with construction, graphic design, lighting, visuals, welding, art project ideas, organizing and project management, fund raising, driving, and the like... Mostly we're looking for solid, nice, conscientious and reliable people who know how to balance work and play.</p>

<p>However, we don't accept everybody that's interested. We're place a great deal of importance on the right vibe and match of like-minded people that will add to our family. We'll need to hear why you're interested, and why you think it's a good match for what kind of BM experience you want to have. (We also want to be sure you know what you're getting yourself into!) If you're in the Bay Area you'll need to attend a camp wide meeting before BM. If you're not, ideally (not always) you need to know someone in the camp. You DON'T need to bust ass before and on the playa to join us. You don't even have to work that hard. Of course we'd love you to, but there's a spot for almost any kind of person that meets the criteria above.<p>


<p>For most, basic camp requirements are the ability to pay camp dues, an effort to help out as much as you can before the playa in any number of ways if you're in the SF area, taking on some limited responsibilities while at Burning Man, and contributing to the break down of the camp (Strike). (Or you can skip most of that with higher dues)<p>

<h4 class="subhead">What do you get for your dues? As a camp member, you'll get:</h4>
<ul>
  <li>an excellent place to spend the week with good &amp; talented people, where you are never far from the fun and will make new friends and connections.</li>
  <li>a large community shade area w/ carpeting, couches, pillow, chill space, etc.</li>
  <li>a community kitchen with stoves, cooking gear, BBQ pits, etc. so you can cook things for yourself.</li>
  <li>access to an excellent meal plan provided in the camp by the Dubgypsy Kitchen</li>
  <li>generator access for your tent or RV (additional fees apply)</li>
  <li>community showers (some water available, but you should still bring your own)</li>
  <li>for RV's - the ability to pay into a fund that will give us our own private pumping truck so you don't have to chase down the pump trucks.</li>
  <li>for RV's - the ability to pay into a fund for access to daily water refills.</li>
  <li>and of course, you're part of the Opulent Temple, with all the back stage access for camp members only, the joy and purpose that comes with it, and the view of the prime real estate of the 10:00 open playa.</li>
</ul>


<h4 class="subhead">There are 2 options to join if we're a good match for you and vice-versa.</h4>
<ol>
  <li><strong>Working Member:</strong> Dues are $100.  Be available to help with set up 2 days from arrival to BM, regardless of arrival day. Also commit to help with Strike on Sunday from either 10am-5pm or 12n-sunset.  Commit to 1 Hosting or Kitchen Shift (see <a href="members/volunteer-shifts">Volunteer Shifts</a>). Includes a $500 collateral deposit check to ensure you will honor your Strike commitment.  Upon fulfilling your commitment, you will get your uncashed check returned directly on the playa. (ask us about how we handle international members) </li>
  <li><strong>Supporting Member:</strong> Dues start at $275.  No set up, strike or hosting responsibilities but must still be a very cool and conscientious camp member!</li>
</ol>

<p>If you've already been in contact and cleared to camp with us — excellent choice! Register at our <a href="/members">Members Area</a> now. We look forward to seeing you on the playa!</p>

<div class="clearfix"><a class="arrow_btn clear-right" href="/members">Become a Member</a></div>
<div class="clearfix"><a class="arrow_btn clear-right" href="/members">Contact Us For More Info</a></div>
<div style="height:50px"></div>
