<h4 class="subhead">How to Register</h4>
<ol>
  <li>Go to <a href="/members">opulenttemple.org/members</a> and login. If you don't have an account, click on 'Create an account' below.</li>
  <li>Enter your real name, user name, password, password confirmation, email address, email address confirmation</li>
  <li>Fill out the Captcha security passphrase</li>
  <li>Click Register</li>
  <li>You will see a confirmation message thanking you for registering and that your account must be verified before you may login.</li>
  <li>You will immediately receive an administrator email to verify your account by clicking a link.</li>
  <li>You will be redirected to a system message thanking you for verifying your email address and that one of our admins will approve and activate your account promptly.</li>
  <li>Once we have activated your account, you may then login to <a href="/members">opulenttemple.org/members</a> with the credentials you chose during registration.</li>
  <li>When logged in, you will have access to the members' only pages of our site. Register as an official camp member by filling out the form on the <a href="/members/member-registration">Members Registration</a> page.</li>
  <li>Enter all required fields and any/all other fields you wish.</li>
  <li>After submitting the registration form, go to the <a href="/members/member-dues">Member Dues</a> to read out about our camp dues structure and click on 'Pay Dues with PayPal' button.</li>
  <li>Send your camp dues, RV service requests, power usage fee in the same PayPal transaction with a <strong>detailed</strong> description and breakdown of your dues.</li>
</ol>
<h4 class="subhead">What if I change my mind about my contribution/dues level?</h4>
<p>No problem, just send us a message <a href="/contact">here</a> letting us know your plans.</p>