  <p>Below is a list of notable world-class guest DJs who have performed at the Opulent Temple over the years. Despite the rumors, we didn't pay anyone to play!</p>
<h4 class="subhead">In alphabetical order:</h4>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/adam_freeland.jpg" class="article_img">
  <h3 class="subhead">Adam Freeland</h3>
  <p>Marine Parade, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2008</p>
  <a href="http://www.adamfreeland.net/" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/alib.jpg" class="article_img">
  <h3 class="subhead">Ali B</h3>
  <p>Air Recordings, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2007-2010, 2012</p>
  <a href="http://www.nickthayer.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/aphrodite.jpg" class="article_img">
  <h3 class="subhead">Aphrodite</h3>
  <p>Aphrodite Recordings, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2010, 2012</p>
  <a href="http://www.aphro.co.uk/" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/armin.jpg" class="article_img">
  <h3 class="subhead">Armin Van Buuren</h3>
  <p>Armada Music, Netherlands</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2009</p>
  <a href="http://www.arminvanbuuren.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/bassnectar.jpg" class="article_img">
  <h3 class="subhead">Bassnectar</h3>
  <p>Amorphous Music, San Francisco</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2003, 2005, 2006, 2007</p>
  <a href="http://www.bassnectar.net" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/bunny.jpg" class="article_img">
  <h3 class="subhead">Bunny<span> of Rabbit in the Moon</span></h3>
  <p>Moonshine Music, LA</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2007, 2010</p>
  <a href="http://www.myspace.com/rabbitinthemoon" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/carlcox.jpg" class="article_img">
  <h3 class="subhead">Carl Cox</h3>
  <p>Intec Records, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2008, 2009, 2012</p>
  <a href="http://www.carlcox.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/christopher_lawrence.jpg" class="article_img">
  <h3 class="subhead">Christopher Lawrence</h3>
  <p>Hook Recordings, LA</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2007-2012</p>
  <a href="http://www.christopherlawrence.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/crystal_method.jpg" class="article_img">
  <h3 class="subhead">The Crystal Method</h3>
  <p>Tiny e Records, LA</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2011-2012</p>
  <a href="http://www.christopherlawrence.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/djdan.jpg" class="article_img">
  <h3 class="subhead">DJ Dan</h3>
  <p>In Stereo, LA</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2006-2012</p>
  <a href="http://www.djdan.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/deekline.jpg" class="article_img">
  <h3 class="subhead">Deekline</h3>
  <p>Rat Records, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2012</p>
  <a href="http://www.facebook.com/djdeekline" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/dfuse.jpg" class="article_img">
  <h3 class="subhead">D:Fuse</h3>
  <p>Moist Music, Austin</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2004, 2006</p>
  <a href="http://www.djdfuse.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/donald_glaude.jpg" class="article_img">
  <h3 class="subhead">Donald Glaude</h3>
  <p>Moonshine Music, Seattle</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2009-2010</p>
  <a href="http://www.facebook.com/DonaldGlaudeFans" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/dopamine.jpg" class="article_img">
  <h3 class="subhead">Dopamine</h3>
  <p>Title Fight, Australia</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2009</p>
  <a href="http://www.facebook.com/DjDopamine" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/dylan_rhymes.jpg" class="article_img">
  <h3 class="subhead">Dylan Rhymes</h3>
  <p>Lot 49 Recordings, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2007-2010, 2012</p>
  <a href="http://www.lot49.co.uk" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/eliteforce.jpg" class="article_img">
  <h3 class="subhead">Elite Force</h3>
  <p>U&amp;A Recordings, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2009-2012</p>
  <a href="http://www.eliteforcemusic.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/felguk.jpg" class="article_img">
  <h3 class="subhead">Felguk</h3>
  <p>Bug Eyed Records, Brazil</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2012</p>
  <a href="http://www.felguk.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/FK5.jpg" class="article_img">
  <h3 class="subhead">Fort Knox Five</h3>
  <p>Fort Knox Recordings, DC</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2007, 2008, 2010, 2012</p>
  <a href="http://www.fortknoxrecordings.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/freq_nasty.jpg" class="article_img">
  <h3 class="subhead">Freq Nasty</h3>
  <p>Botchit &amp; Scarper, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2006</p>
  <a href="http://www.freqnasty.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/hybrid.jpg" class="article_img">
  <h3 class="subhead">Hybrid</h3>
  <p>Distinctive Records, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2004</p>
  <a href="http://www.hybridsoundsystem.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/infected_mushroom.jpg" class="article_img">
  <h3 class="subhead">Infected Mushroom</h3>
  <p>Perfecto Records, Israel</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2009, 2011</p>
  <a href="http://www.infected-mushroom.com/" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/josh_gabriel.jpg" class="article_img">
  <h3 class="subhead">Josh Gabriel<!-- <span> of Gabriel &amp; Dresden</span> --></h3>
  <p>Armada Music, Netherlands</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2003, 2008</p>
  <a href="http://www.facebook.com/JoshGabrielMusic" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/lee_coombs.jpg" class="article_img">
  <h3 class="subhead">Lee Coombs</h3>
  <p>Lot 49, Finger Lickin', UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2005-2009, 2011</p>
  <a href="http://www.leecoombs.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/mandy.jpg" class="article_img">
  <h3 class="subhead">M.A.N.D.Y.</h3>
  <p>Get Physical Music, Germany</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2011</p>
  <a href="http://m-a-n-d-y.com/" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/meatkatie.jpg" class="article_img">
  <h3 class="subhead">Meat Katie</h3>
  <p>Lot 49 Recordings, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2009, 2011</p>
  <a href="http://www.lot49.co.uk" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/miyagi.jpg" class="article_img">
  <h3 class="subhead">Miyagi</h3>
  <p>Canada</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2010, 2012</p>
  <a href="http://www.myagimusic.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/nick_thayer.jpg" class="article_img">
  <h3 class="subhead">Nick Thayer</h3>
  <p>OWSLA, Australia</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2010</p>
  <a href="http://www.nickthayer.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/paul_oakenfold.jpg" class="article_img">
  <h3 class="subhead">Paul Oakenfold</h3>
  <p>Perfecto, UK/LA</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2005, 2007</p>
  <a href="http://www.pauloakenfold.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/sandra_collins.jpg" class="article_img">
  <h3 class="subhead">Sandra Collins</h3>
  <p>Thrive Music, LA</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2003</p>
  <a href="http://www.sandracollins.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/scumfrog.jpg" class="article_img">
  <h3 class="subhead">The Scumfrog</h3>
  <p>Effin Music, NYC</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2004-2008, 2010, 2012</p>
  <a href="http://www.thescumfrog.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/seb_fontaine.jpg" class="article_img">
  <h3 class="subhead">Seb Fontaine</h3>
  <p>Thrive Records, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2010</p>
  <a href="http://www.sebfontaine.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/sharam.jpg" class="article_img">
  <h3 class="subhead">Sharam</h3>
  <p>Amtrax, DC</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2009</p>
  <a href="http://www.sharam.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/stanton_warriors.jpg" class="article_img">
  <h3 class="subhead">Stanton Warriors</h3>
  <p>Punks, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2006, 2012</p>
  <a href="http://www.stantonwarriors.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/tiesto.jpg" class="article_img">
  <h3 class="subhead">Ti&#235;sto</h3>
  <p>Black Hole Recordings, Netherlands</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2005</p>
  <a href="http://www.tiesto.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <a href="/music/opulent-mixes" class="badge_btn">get<br>mix</a>
  <img src="/templates/ja_elastica/images/guest_djs/tim_healey.jpg" class="article_img">
  <h3 class="subhead">Tim Healey</h3>
  <p>Surfer Rosa, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2007-2009</p>
  <a href="http://www.djtimhealey.com" target="_blank" class="arrow_btn">Official Website</a>
</div>
<div class="guestdj">
  <img src="/templates/ja_elastica/images/guest_djs/tipper.jpg" class="article_img">
  <h3 class="subhead">Tipper</h3>
  <p>Tipper Music, UK</p>
  <h4 class="subhead">OT Performances:</h4>
  <p>2003</p>
  <a href="http://www.tippermusic.net/" target="_blank" class="arrow_btn">Official Website</a>
</div>