<h4 class="subhead">Black/Grey Water Pump Service:</h4>
<p>Opulent Temple works with a third-party vendor to schedule black/grey water pump service on the playa. Each service is $40; you are able to schedule how often you would like to be serviced. If you miss the cut-off date, it will still possible to flag down United Services on-site while they are servicing other RVs and pay them directly on the spot, for a marginally more expensive fee.</p>
<p><span class="star">*</span><strong>Note: We are not responsible for RV serviciving vendor, their schedule or thoroughness with schedule routes. Since this is Burning Man, there will be times where service schedules may not be met in a timely fashion, but we will do our best to advocate for the camp to get the service that is expected and paid for. Your cooperation and understanding is appreciated.</strong></p>

<h4 class="subhead">Fresh Water Refill Service:</h4> 
<p>Five 275-gallon tanks placed throughout our camp will be filled as needed throughout the week. We will distribute water to those who order and pre-pay for the service. This water is potable but not recommended for drinking. Please bring your own fresh water to drink and only refill your fresh water tank when empty. Opulent Temple will also have separate water cubes dedicated for our showers and kitchen; camp members can fill up their sun showers from the community cube to decrease water usage in RVs. The cost of water is $1/gallon. If you wish to order water refills, please fill out the form below with the following information:</p>
<ol>
  <li>The size of your RV fresh water tank (eg. 40 gallons)</li>
  <li>How many times you want to refill (when empty).</li>
  <li>On what days you wish to refill. (eg. M W F Su)</li>
  <li>Total amount of pre-payment. To calculate your payment, multiply the size of your tank by the amount of refills (when empty). For example: a 40 gallon tank filled 4x would be $160.</li>
</ol>
<p>Not sure how much water you will need? Not a problem. If you ordered too much, we will be able to refund you for the unused amount after Burning Man.</p>
<h4 class="subhead">Payment</h4>
<p>If you wish to pre-order one or both of the above services, please include your service and/or water fees with your <a href="camp-members/camp-financials">camp dues</a>, before August 8th, and add a message about the purpose of this additional payment in your comments.</p>
