<p>The following RV services and rentals are available to our camp members.</p>
<h4 class="subhead">Black/Grey Water Pump Service:</h4>
<p>Opulent Temple works with a third-party vendor to schedule black/grey water pump service on the playa. Each service is $60; you are able to schedule how often you would like to be serviced. If you miss the cut-off date, it will still possible to flag down United Services on-site while they are servicing other RVs and pay them directly on the spot, for a marginally more expensive fee.</p>
<p><span class="star">*</span><strong>Note: We are not responsible for RV serviciving vendor, their schedule or thoroughness with schedule routes. Since this is Burning Man, there will be times where service schedules may not be met in a timely fashion, but we will do our best to advocate for the camp to get the service that is expected and paid for. Your cooperation and understanding is appreciated.</strong></p>

<h4 class="subhead">Fresh Water Refill Service:</h4> 
<p>Five 275-gallon tanks placed throughout our camp will be filled as needed throughout the week. We will distribute water to those who order and pre-pay for the service. This water is potable but not recommended for drinking. Please bring your own fresh water to drink and only refill your fresh water tank when empty. Opulent Temple will also have separate water cubes dedicated for our showers and kitchen; camp members can fill up their sun showers from the community cube to decrease water usage in RVs. The cost of water is $1/gallon. If you wish to order water refills, please fill out the form below with the following information:</p>
<ol>
  <li>The size of your RV fresh water tank (eg. 40 gallons)</li>
  <li>How many times you want to refill (when empty).</li>
  <li>On what days you wish to refill. (eg. M W F Su)</li>
  <li>Total amount of pre-payment. To calculate your payment, multiply the size of your tank by the amount of refills (when empty). For example: a 40 gallon tank filled 4x would be $160.</li>
</ol>
<p>Not sure how much water you will need? Not a problem. If you ordered too much, we will be able to refund you for the unused amount after Burning Man.</p>
<h4 class="subhead">Payment</h4>
<p>If you wish to pre-order one or both of the above services, please include your service and/or water fees with your <a href="members/camp-financials">camp dues</a>, before August 8th, and add a message about the purpose of this extra payment in your comments.</p>

<div class="clearfix">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="M73GMWGHKPKX4">
  <button class="add_cart arrow_btn" name="submit"><span class="paypal">Pay Dues with</span></button>
  </form>
</div>

<h3 class="subhead shiva">RV Rentals from North Valley Rentals</h3>
<p>We have a limited amount of RVs available for rent through a third-party vendor at discounted rates who delivers fully-functioning RVs to our camp on the playa and collects them at end of the week.</p>

<p>It's a great alternative to driving an RV to BM, and more importantly, driving it home and cleaning it.  All RV's have working showers, AC, fridge, and stove &#8212; they're not the latest models but all are totally sufficient for your stay on the playa.  You can plug your RV into the camp power grid for a <a href="members/camp-power/member-dues">fee</a> so you won't have to run the generator.</p>

<p>Service includes the following:</p>
<ul>
  <li>Delivery and set up of trailer at OT</li>
  <li>Pick up and final cleaning of trailer after BM</li>
  <li>Fully stocked bedding w clean linens, blankets, pillows</li>
  <li>Fully stocked kitchen for cooking</li>
  <li>Serviceman located in Burningman</li>
</ul>
<blockquote>
Note: the description of how many the RVs sleep can be generous, "sleeps 5-6" usually means there are 3 places to sleep (eg. a double bed over the cab, a double bed in back and a single bed in the kitchen/dining area). This arrangement is usually fine for small people and couples but we recommend planning a comfortable living situation that is not over-crowded.
</blockquote>
<p>If you'd like to reserve one, or have questions, please <a href="/contact" target="_blank">notify us</a> ASAP. Unrented RV's will be released back to vendor at some point so the sooner you commit, the better. Please read the vendor <a href="http://northvalleyrvrental.com/FAQ.html" target="_blank">FAQ</a>.</p>
<p>Following is the RV inventory available to us; rentals must be prepaid in full and are first come, first served. <a href="/contact">Contact us</a> with any questions or rental requests.</p>
<table class="rvs">
  <thead>
    <tr>
      <td>Name of RV</td>
      <td>Sleeps</td>
      <td>Discounted price</td>
      <td>Normal price</td>
      <td>Link</td>
      <td>Reserved</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>21 ft Tahoe with slide</td>
      <td>sleeps 5-6</td>
      <td>$3350</td>
      <td>$4200</td>
      <td><a href="http://northvalleyrvrental.com/21_FT_TAHOE.php" target="_blank">Link</a></td>
      <td>Brenda</td>
    </tr>
    <tr>
      <td>21 ft prowler</td>
      <td>sleeps $5-6</td>
      <td>$3330</td>
      <td>$4200</td>
      <td><a href="http://northvalleyrvrental.com/21_ft_prowler.php" target="_blank">Link</a>
      <td>Syd</td>
    </tr>
    <tr>
      <td>24 ft Airex</td>
      <td>sleeps 4</td>
      <td>$3360</td>
      <td>$4800</td>
      <td><a href="http://northvalleyrvrental.com/24_ft_airex_2.php" target="_blank">Link</a></td>
      <td></td>
    </tr>
    <tr>
      <td>25 Ft Skyline</td>
      <td>sleeps 5-6</td>
      <td>$3390</td>
      <td>$5000</td>
      <td><a href="http://northvalleyrvrental.com/25_ft_skyline.php" target="_blank">Link</a></td>      
      <td></td>
    </tr>
    <tr>
      <td>26 ft Coachman</td>
      <td>sleeps 6-7</td>
      <td>$3390</td>
      <td>$5200</td>
      <td><a href="http://northvalleyrvrental.com/26FT_COACHMAN.php" target="_blank">Link</a></td>
      <td></td>
    </tr>
    <tr>
      <td>27 ft Dutchman</td>
      <td>sleeps 5-6</td>
      <td>$3350</td>
      <td>$5400</td>
      <td><a href="http://northvalleyrvrental.com/27FT_DUTCHMAN.php" target="_blank">Link</a></td>
      <td>Brenda</td>
    </tr>
    <tr>
      <td>27 ft Kencraft</td>
      <td>sleeps 5-6</td>
      <td>$3390</td>
      <td>$5400</td>
      <td>(waiting for link)</td>
      <td>Russ?</td>
    </tr>
    <tr>
      <td>28 ft Jayco 5th wheel</td>
      <td>sleeps 5-6</td>
      <td>$3350</td>
      <td>$5600</td>
      <td><a href="http://northvalleyrvrental.com/28_FT_JAYCO.php" target="_blank">Link</a></td>
      <td>Brenda</td>
    </tr>
    <tr>
      <td>26 ft Terry pull</td>
      <td>sleeps 4</td>
      <td>$3360</td>
      <td>$5000</td>
      <td>(waiting for link)</td>
      <td></td>
    </tr>
    <tr>
      <td>27 ft Allegro</td>
      <td>sleeps 5-6</td>
      <td>$3400</td>
      <td>$5400</td>
      <td><a href="http://northvalleyrvrental.com/27FT_ALLEGRO_MH.php" target="_blank">Link</a></td>
      <td></td>
    </tr>
    <tr>
      <td>24ft RoadRanger 5th wheel</td>
      <td>sleeps 5-6</td>
      <td>$3900</td>
      <td>$4800</td>
      <td>(waiting for link)</td>
      <td></td>
    </tr>
    <tr>
      <td>27 ft Dodge MH</td>
      <td>sleeps 5-6</td>
      <td>$3900</td>
      <td>$5400</td>
      <td>(waiting for link)</td>
      <td></td>
    </tr>
    <tr>
      <td>28 ft Holiday MH</td>
      <td>sleeps 5-6</td>
      <td>$3900</td>
      <td>$5600</td>
      <td>(waiting for link)</td>
      <td></td>
    </tr>
    <tr>
      <td>28 ft Sunterra 5th wheel</td>
      <td>sleeps 5-6</td>
      <td>$3900</td>
      <td>$5600</td>
      <td><a href="http://northvalleyrvrental.com/28FT_SUNTERRA.php" target="_blank">Link</a></td>
      <td>Jon Crawford</td>
    </tr>
    <tr>
      <td>28 ft Fireball pull</td>
      <td>sleeps 5-6</td>
      <td>$3900</td>
      <td>$5600</td>
      <td><a href="http://northvalleyrvrental.com/28ft_FIREBALL.php" target="_blank">Link</a></td>
      <td>pending</td>
    </tr>
    <tr>
      <td>29 ft Aljo Pull 5th wheel</td>
      <td>sleeps 5-6</td>
      <td>$3900</td>
      <td>$5600</td>
      <td><a href="http://northvalleyrvrental.com/29FT_ALIO.php" target="_blank">Link</a></td>
      <td>David Lawrence</td>
    </tr>
    <tr>
      <td>29 ft Road Range pull</td>
      <td>sleeps 5-6</td>
      <td>$3900</td>
      <td>$5600</td>
      <td><a href="http://northvalleyrvrental.com/29FT_ROAD_RANGER.html" target="_blank">Link</a></td>
      <td></td>
    </tr>
  </tbody>
</table>