<p>Below is a helpful list of essential items to bring to the playa. Although we are an established theme camp with many convenient amenities, we encourage our camp members to follow one of the Burning Man principles of "Radical Self Reliance"</p>

<p><strong>Helpful Links:</strong></p>
<a href="http://www.anybodyburns.com/bmcamplist.htm" target="_blank">anybodyburns.com/bmcamplist.htm</a><br>
<a href="http://www.zenzibar.com/bman/BM2006/equipment.htm" target="_blank">zenzibar.com/bman/BM2006/equipment.htm</a>

<h4 class="subhead">The most important item:</h4>
<p>Your Burning Man Ticket!</p>

<h4 class="subhead">WORK</h4>
<ul>
  <li>2 PAIRS of work gloves</li>
  <li>work shoes/boots</li>
  <li>headlamps (lightweight LED are the best, available at REI)</li>
</ul>

<h4 class="subhead">PLAY</h4>
<ul>
  <li>common Sense, an Open Mind, and a Positive Attitude</li>
  <li>gifts for new friends</li>
  <li>costumes</li>
  <li>your own supplies of entertainment and more than enough beer</li>
</ul>


<h4 class="subhead">PROTECTION, HEALTH and SAFETY</h4>
<ul>
  <li>sunglasses</li>
  <li>sunscreen</li>
  <li>wide Brim Hat to block the mid-day sun (chin strap will keep it from being a 100 yard game of "Stop the Hat")</li>
  <li>dust Mask</li> 
  <li>work shoes/boots</li>
  <li>condoms and a silicone based lubricant that wont dry out</li>
  <li>blinky lights to keep you visible at night (Bring extra for your playa date)</li>
  <li>fire extinguisher</li>
  <li>EARPLUGS for downtime</li>
  <li>vinegar, the plain white kind. For washing feet and hands to neutralize alkaline and prevent playa foot.</li>
  <li>vaseline to heal and stop chaffing and to lube your cracks</li>
  <li>glow sticks</li>
  <li>evian mist (can based, neutralizes alkaline damage on body)</li>
  <li>goggles</li>
  <li>portable ashtrays for those of us who Smoke (Keep your butts off the playa) Altoids can?</li>
  <li>hand Sanitizer</li>
  <li>medications</li>
  <li>first Aid Kit</li>
  <li>antacid</li>
  <li>HYDRATE and MOISTURIZE (external)</li>
  <li>solar Shower Bag</li>
  <li>humidifier for your RV/Tent (helps you rest)</li>
  <li>lotion</li>
  <li>lip balm</li>
  <li>baby wipes</li>
  <li>evian mist (can based, neutralizes alkaline damage on body)</li>
</ul>

<h4 class="subhead">FOOD and WATER</h4>
<ul>
  <li>water ~ 1 gallon of water per day drinking and 3-5 gal for a quick shower</li>
  <li>cooking Stove</li>
  <li>more alcohol than you think you'll need</li>
  <li>pot, pan, cooking utensils, condiments</li>
  <li>personal fork, spoon and knife (non-disposable)</li>
  <li>extra water equal or greater than alcohol brought. Dehydrating from the inside and the outside at the same time is 'bad'.</li>
  <li>hydration backpack for long day trips.</li>
</ul>

<h4 class="subhead">SHELTER</h4>
<ul>
  <li>good Shelter</li>
  <li>shade structure for your Tent (a necessity)</li>
  <li>good bedding</li>
  <li>2ft. rebar stakes to hold your home down</li>
  <li>one tennis ball for each stake to top-off</li>
  <li>ribbons, Mylar, etc. to flag tent ropes and guy lines</li>
  <li>rugs to put in front of your RV or Tent (careful of MOOP from ragged edges)</li>
  <li>camp Marker (Flag, Flasher, Distinctive marking, Towers are acceptable with proper guy lines)</li>
</ul>


<h4 class="subhead">PERSONAL ITEMS</h4>
<ul>
  <li>money for Ice and Coffee, on-the-spot Water and Pump Service</li>
  <li>sensible shoes, think closed toe. Sandels and flip flops are asking for playa-foot &amp; playa-crack.</li>
  <li>warm Clothing for when the temperature reaches into the 40's</li>
  <li>bikinis for when the temperature reaches into the 100's ;)</li>
  <li>at least a couple towels</li>
  <li>an ALL WHITE outfit/costume for Wednesday's Sacred Dance party</li>
  <li>If it's important; bring TWO! Sunglasses, chapstick, hat, flashlight, etc.</li>
  <li>bandana - 1001 uses; hanky, dust mask, sweat band, belt pouch, fashion accessory</li>
  <li>TUTU for TUTU Tuesday (yes even the guys)</li>
  <li>contact lens supplies, bring extra</li>
  <li>extra eyeglasses</li>
  <li>watch, to keep track of time... making sure not to miss your shift</li>
  <li>toilet Paper, paper towels.</li>
  <li>digital Camera</li>
  <li>extra memory cards for extra pics</li>
</ul>

<h4 class="subhead">BIKES</h4>
<ul>
  <li>bicycle, check tire size and buy a spare tube or at least a patch kit</li>
  <li>bike lock (lock bikes at all times, even in camp to keep randoms from toolin off with it)</li>
  <li>bike light</li>
  <li>bike air pump</li>
</ul>

<h4 class="subhead">IMPORTANT MISC</h4>
<ul>
  <li>spare batteries</li>
  <li>sewing Kit and Safety Pins</li>
  <li>pee containers that will not leak!!<li>
  <li>spare set of KEYS for your car so your not fucked out there if you lose your keys</li>
  <li>trash Bags</li>
  <li>duct Tape</li>
  <li>zip-lock bags for your camera and other electronics</li>
  <li>rope</li>
  <li>pocket knife</li>
  <li>air duster - useful for cleaning off dusty things</li>
</ul>
